:root {
	/* Color styles */
	--black: #141414;
	--dark--grey: #1f1f1f;
	--grey: #333333;
	--white: #ffffff;
	--neon--green: #c4f82a;

	/* Text-size styles */
	--body--bold: 14px;
	--body--regular: 14px;
	--heading: 24px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--black);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;
	color: var(--white);
}

.container {
	min-width: 24rem;
	height: 38.1rem;
	background-color: var(--dark--grey);
	border-radius: 12px;
	text-align: center;
}

.avatar {
	margin-top: 40px;
	margin-bottom: 1.5rem;
	border-radius: 50%;
	width: 88px;
}

h1 {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 4px;
}

#location {
	color: var(--neon--green);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 24px;
}

#about {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 24px;
}

.links {
	width: 304px;
	text-align: center;
	margin: auto;
}
ul {
	list-style: none;
}

li {
	margin-bottom: 18px;

	width: 100%;
}

a {
	background-color: var(--grey);
	padding: 12px;
	text-decoration: none;
	color: var(--white);
	font-size: 14px;
	font-weight: 700;
	border-radius: 8px;
	display: block;
	transition: 0.3s ease-in-out;
}

a:hover {
	background-color: #c4f82a;
	color: var(--dark--grey);
}

@media only screen and (max-width: 480px) {
	.container {
		min-width: 327px;
		height: 36.9rem;
	}

	.avatar {
		margin-top: 24px;
	}

	.links {
		width: 279px;
	}
}
